svg path {
    fill: #fff;
    stroke: inherit;
    stroke-width: inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border-width: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-decoration: none;
}

.burger {
    display: none;
}

body {
    margin: 0 auto;
}

button {
    cursor: pointer;
    z-index: 3;
    filter: brightness(100%);
    transition: filter 0.5s;
}

button:active {
    background: #4B9200;
}

button:hover {
    filter: brightness(80%);
    transition: filter 0.5s;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: center;
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    background: black;
    height: 80px;
    width: 100%;
    z-index: 10;
}

.header_wrapper {
    margin: 0 30px auto;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    max-width: 1160px;
    width: 100%;
    height: 100%;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.nav_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 58px;
    margin-left: 63px;
}

.watch_favorite {
    background: url("../../../assets/images/Giant_Panda.jpg") no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 780px;
    position: relative;
}

.bamboo {
    position: absolute;
    width: 15px;
    height: 20px;
    left: 8px;
    top: 23px;
    background: #FFFFFF;
    rotate: 90%;
    background-color: transparent;
}

.icon_content {
    width: 82px;
    height: 52px;
    left: 0px;
    top: 0px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.nav_fig a:hover {
    color: #F9804B;

}

.nav_item a {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    cursor: pointer;
}

.nav_item a:hover {
    color: #F9804B;
}


.nav_item:nth-child(1) a:hover {
    cursor: default;
}

.nav_item:nth-child(1) a {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

h1 {
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}

.section_2 {
    position: relative;
    display: flex;
    justify-content: center;
    height: 427px;
    margin: 140px 0px 180px 0px;
}

.section_2_wrapper {
    width: 1161px;
}

.howWorks_content {
    display: flex;
    justify-content: space-between;
    height: 100%;
}


.howWorks_rihth_flower {
    position: absolute;
    /* width: 200px;
    height: 605px; */
    right: 0px;
    top: -128px;
}

h5 {
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
}

.howWorks_img {
    backdrop-filter: blur(2px);
    margin-right: 31px;
    object-fit: cover;
    height: fit-content;
}



.howWorks_text {
    display: flex;
    flex-direction: column;
    width: 465px;
    height: 100%;
    word-wrap: break-word;
    overflow: hidden;
}

.howWorks_text h2 {
    margin-bottom: 20px;
}

.circle_arrow {
    cursor: pointer;
    transform: translateZ(10px);
}

.circle_arrow:active {
    background: #4B9200;
}

.howWorks_text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
}

.howWorks_text h4 {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
    margin: 54px 0px 34px 0px;
}

h2 {
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #333B41;
}

.circle_orange {
    position: absolute;
    width: 465px;
    height: 465px;
    left: calc(50% - 465px/2 + 239.5px);
    top: 92px;
    border-radius: 50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.circle_text {
    position: absolute;
    width: 500.31px;
    height: 400px;
    left: calc(50% - 500.31px/2 + 330.15px);
    top: 166px;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}

.circle_text span {
    color: #FFEE2E;
}

.circle_button {
    position: absolute;
    left: calc(50% - 298px/2 + 332px);
    top: 626px;
    width: 298px;
    height: 54px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
}

/* SECTION_3 ---------------- */

.section_3 {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.section_3_main {
    position: relative;
}

.carusel {
    width: 3480px;
    height: 872px;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    transform: translateX(-1160px);
    transition: 1s;
}

.slide_rigth {
    justify-content: flex-start;
    transition: 1s;
}

.slide_left {
    justify-content: flex-end;
    transition: 1s;
}

.section_3_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    width: 1160px;
    height: 100%;
    z-index: 3;
    transition: 1s;
}

.section_3_container {
    width: 1160px;
    height: 872px;
    position: relative;
    z-index: 5;
    overflow: hidden;
    transition: 1s;

}


.slider_card {
    width: 366px;
    height: 426px;
    background-repeat: no-repeat;
    border-radius: 5px;
    border-color: #F9804B;
    border-width: 1px;
    border-style: solid;
    z-index: 3;
}

.slider_card:hover>div.card_content {
    transform: translateY(-100%);
    background: rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
    color: white;
}

.slider_card:hover>div.img_wrapper img {
    transform: scale(1.1);
    transition: transform 0.5s;
}


.img_wrapper {
    overflow: hidden;
}

.img_wrapper img {
    transform: scale(1);
    transition: transform 0.5s;
}

.card_img {
    width: 100%;
    height: fit-content;
}

.card_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000000;
    width: 100%;
    height: 60px;
    margin-top: -5px;
    transform: translateY(0);
    transition: all 0.5s;
}

.card_content_img {
    background: transparent;
}

.slider_card img {
    width: 100%;
    height: fit-content;
}

.card_content_img {
    margin-right: 8px;
}

.card_content_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 16px;
}

.card_content p:nth-child(2) {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
}

.card_content p:nth-child(1) {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
}

.section_3_button {
    width: 298px;
    height: 54px;
    background: #FE9013;
    border-radius: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 80px;
    margin-bottom: 100px;
}

.activ_card {
    transform: translateY(-60px);
}

.slider_left {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 403px;
    left: -82px;
    width: 62px;
    height: 62px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    cursor: pointer;
    z-index: 50;
}

.slider_rigth {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 403px;
    right: -82px;
    width: 62px;
    height: 62px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    cursor: pointer;
    z-index: 50;
}

.strelitzia {
    position: absolute;
    width: 368px;
    height: 275px;
    right: 0;
    bottom: 0px;
    background: url('../../../assets/images/strelitzia_1.jpg');
    background-repeat: no-repeat;
}

.palm {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
}

.section_4 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.section_4_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
}

.section_4_container {
    margin-top: 69px;
    margin-bottom: 100px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    width: 100%;
    max-width: 1160px;
    display: flex;
    justify-content: center;
}

.section_4_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0 99px 0 99px; */
}

.section_4_content_text {
    width: 962px;
    color: #333B41;
}

.section_4_content_text p:nth-child(1) {
    margin-top: 41px;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
}

.section_4_content_text p:nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    margin: 30px 0 40px 0;
}

.section_4_content_text p:nth-child(3) {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    word-wrap: normal;
    width: 1061px;
}

.section_4_content_text a {
    text-decoration: #FE9013 underline;
    color: #333B41;
}

.section_4_content_text p:nth-child(4) {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    margin: 10px 0 60px 0;
}

.section_4_content_text p:nth-child(5) {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 40px;
}

.section_4_content_imgs {
    display: flex;
    justify-content: center;
}

.section_imgs_card {
    width: 168px;
    height: 244px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgs_card_wrapper {
    width: 168px;
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 5px;
    border-color: #F9804B;
    border-style: solid;
    border-width: 1px;
}

.arrow {
    display: flex;
    align-items: center;
    margin: 0 30px;
    height: 168px;
}

.imgs_card_text {
    width: 168px;
    height: 46px;
}

.section_4_button {
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    margin: 60px 0 59px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.section_5 {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.section_5_container {
    max-width: 1160px;
    width: 100%;
}

.section_5_text {
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 47px;
}

/* ================================================================== */

.section_5_slider {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    align-items: center;
}

.slider_5_cards {
    display: flex;
    gap: 29px;
    width: max-content;
    transform: translateX(0%);
    transition: transform 0.5s;
}

.card_bottom_content {
    margin-top: 10px;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #767474;
    width: 237px;
    height: 309px;
    overflow: hidden;
}

.slider_handler:hover {
    opacity: 1;
}

.slider_5_card {
    width: 266px;
    height: 391px;
    border-radius: 20px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sl5_card_wrapper {
    width: 99%;
    height: 388px;
    background: #F1F3F2;
    border-radius: 20px;
    padding: 15px 15px 19px 15px;
    overflow: hidden;
}

.card_top_content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top_ava {
    width: 37px;
    height: 37px;
}

.top_head_name {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
}

.top_head_local {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #BDBDBD;
}

.section_5_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: #FFFFFF;
    align-self: flex-start;
    margin-bottom: 180px;
}

.section_5_leves {
    position: absolute;
    bottom: -133px;
    right: 0px;
    z-index: -3;
}

.footer {
    display: flex;
    justify-content: center;
    background: #111115;
}

.footer_wrapper {
    width: 1160px;
    height: 443px;
    padding-top: 40px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 30px;
}

.footer_button {
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer_top_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 174px;
}

.footer_top_rigth {
    display: flex;
    flex-direction: column;
    height: 85px;
}

.top_rigth_text {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 14px;
}

.top_rigth_form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top_rigth_form input {
    background: #111115;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    outline: none;
    padding-left: 10px;
    width: 100%;
    border: 0.7px solid #F9804B;
    color: #BDBDBD;
    width: 228px;
    height: 42px;
    border-radius: 2px;
    display: flex;
}

.media_link a svg:hover {
    opacity: 0.7;
    stroke: green;
    fill: green;
}

.top_rigth_form input::placeholder {
    color: #BDBDBD;
}

input[type="email"]:invalid+button.footer_submit_btn {
    color: #d31414;
    border: 1px solid #D31414;
}

input[type="email"]:invalid::placeholder {
    color: #d31414;
}

input[type="email"]:invalid {
    border: 0.7px solid #d31414;
}

.footer_submit_btn {
    width: 129px;
    height: 42px;
    background: #F1F3F2;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #111115;
    border-radius: 5px;
}

.footer_submit_btn:active {
    color: #4B9200;
    border: 1px solid #4B9200;
    background: #F1F3F2;
    ;
}



.footer_bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.footer_bottom_media {
    width: 111px;
}

.media_list {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.footer_bottom_sign p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
}

.footer_bottom_sign p:hover {
    color: #4B9200 !important;
    cursor: default;
    text-decoration: underline;
}

.footer_bottom_sign p:nth-child(1) {
    margin-bottom: 10px;
}

.footer_bottom_nav {
    color: white;
}

.footer_bottom_nav .nav_list {
    margin-left: 100px;
}

.icon_circle_grey {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: rgba(196, 196, 196, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.media_link a {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 12px;
}

.media_link a span {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.media_link a:hover>div.icon_circle_grey {
    background: #4B9200;
}

.media_link a:hover>span {
    color: #4B9200;
}

form {
    display: flex;
    justify-content: center;
    width: 100%;
}

@media (max-width: 1600px) {
    .howWorks_rihth_flower {
        display: none;
    }
}

@media (max-width: 600px) {
    .section_4_content_imgs {
        flex-direction: column;
    }

    .section_imgs_card::before {
        position: absolute;
        transform: rotate(87deg);
        top: 192px;
        left: 138px;
    }

    .section_imgs_card::after {
        position: absolute;
        transform: rotate(87deg);
        top: 390px;
        left: 180px;
    }

}

input[type="range"] {
    width: 599px;
    display: flex;
    align-self: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    background: #F5F7F6;
    border-radius: 5px;
    margin: 21px 0 31px 0;
    height: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(243, 169, 248, 0.66);
}

input[type=range]::-webkit-slider-thumb {
    background: #FE9013;
    border-radius: 5px;
    border-radius: 10px/100%;
    cursor: pointer;
    width: 115.19px;
    height: 6px;
    opacity: 0.7;
    -webkit-appearance: none;
    appearance: none;
}

input[type=range]::-webkit-slider-thumb:hover {
    opacity: 1;
}

.slider_frame {
    overflow: hidden;
    width: 100%;
}



/* Testi */

.testimonials_popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

.testimonials_popup_active {
    display: flex;
}

.slider_5_card_popup_wrapper {
    width: 320px;
    height: 428px;
    position: relative;
    background: #F5F7F6;
}

.slider_5_card_popup {
    width: 267px;
    height: 391px;
    border-radius: 20px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 36px 17px 17px;
}

.sl5_card_wrapper_popup {
    width: 98.5%;
    height: 99%;
    background: #F1F3F2;
    border-radius: 20px;
    padding: 15px 15px 19px 15px;
    overflow: hidden;
}

.card_bottom_content_popup {
    margin-top: 10px;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #767474;
    width: 237px;
    height: 309px;
    overflow: hidden;
}

.close_popup_testimonials {
    position: absolute;
    top: 12px;
    right: 10px;
    width: 14px;
    height: 14px;
}